/* Mini CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.homeFlexContainer,
.quizFlexContainer,
.resultsFlexContainer {
  display: flex;
}

@media screen and (min-width:789px) {

}