/* Mini CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  /* Brand Colors */
  --primary-color:#FF2773;
  --primary-light: #FF4D95;
  --secondary-color: #2B1E70;
  --secondary-light: #252D9B;

  /* Text Colors */
  --text-primary: #190134;
  --text-secondary: #685879;
  --text-tertiary: #B3ABBC;
  --text-light: #FFFFFF;
  --text-link: #252D9B;

  /* UI Colors */
  --info: #2B1E70;
  --success: #5CC689;
  --warning: #EE7D52;
  --error: #FF2773;

  /* Background Colors*/
  --primary-background:#15002c;
  --secondary-background: #490097;
  /* --dark-background:#2B1E70; */
  /* --light-primary-background:;
  --light-secondary-background:;*/
  --dark-primary-background:rgb(48, 54, 61);
  --dark-secondary-background: rgb(13, 17, 23);

  /* Font Family */
  --font-family: 'Poppins', sans-serif;

  /* Font-Size */
  --XL : 2rem;
  --L: 1.5rem;
  --M: 1.25;
  --S: 1rem;
  --XS: 0.75rem;

  /* Font-Weight */
  --black : 900;
  --extra-bold : 800;
  --bold: 700;
  --semi-bold:600;
  --regular:400;

  /* border-radius */
  --radius-L: 2rem;
  --radius-M:1.5rem;
  --radius-S:1rem;

  /* Shadows */
  --level-1 : box-shadow: 0px 2px 10px 0px #1901341F;
  --level-2 : 0px 4px 10px 0px #19013429;
}

body {
  font-family: var(--font-family);
  /* overflow:hidden; */
}

h1 {
  font-size: var(--XL);
  font-weight: var(--extra-bold);
  color:var(--text-light)

}

h2 {
  font-size: var(--L);
  font-weight: var(--extra-bold);
  color:var(--text-light)

}

h3 {
  font-size: var(--M);
  font-weight: var(--bold);
  color:var(--text-light)

}

h4 {
  font-size: var(--S);
  font-weight: var(--bold);
  color:var(--text-light)

}

h5 {
  font-size: var(--X);
  font-weight: var(--bold);
  color:var(--text-light)

}

h6 {
  font-size: var(--XS);
  font-weight: var(--semi-bold);
  color:var(--text-light)

}

p {
  font-size: var(--S);
  font-weight: var(--regular);
  color:var(--text-secondary)

}

a {
  font-size: var(--S);
  font-weight: var(--regular);
  text-decoration: initial;
  color:var(--text-link)
}

.mainPage {
  background-color: #5600b5;
  background-image: linear-gradient(180deg, #490097 18%, #15002c 50%);
  /* background-image: linear-gradient(180deg, #5600b5 18%, #15002c 50%); */
  width: auto;
}

button, .primary-button{
  border-radius: var(--radius-L);
  background-color: var(--primary-color);
  font-size: var(--S);
  font-weight:var(--bold);
  padding:8px;
  color:var(--text-light);
  border:none;
  cursor:pointer;
  margin: auto;
  text-align: center;
}
/* PARTIE MARIE BUTTON START */

/* From cssbuttons.io by @adamgiebl */
/* From cssbuttons.io */
 .neonButton {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
 }
 
#btnGlow::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }
 
 .neonButton:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 #btnTest:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }


.secondary-button{
  border-radius: var(--radius-L);
  background-color: var(--secondary-color);
  font-size: var(--S);
  font-weight:var(--bold);
  padding:8px;
  color:var(--text-light);
  border:none;
}

.secondary-button:hover {
  border-radius: var(--radius-L);
  background-color: var(--secondary-light);
  font-size: var(--S);
  font-weight:var(--bold);
  padding:8px;
  color:var(--text-light);
  border:none;
}

.cards{
  box-shadow:var(--level-2)
}

/*/////////////////////
//SECTION 0 : GLOBAL //
/////////////////////*/
.homeFlexContainer,
.nameFlexContainer,
.quizFlexContainer {
  display: flex;
  min-height:100vh;
}
.hid-box {
  top: 100%;
  position: relative;
  transition: all .3s ease-out;
  height: 100vh;
  width:100%
}
.hid-box-hover {
top: 0;
position: absolute;
transition: all .3s ease-out;
height: 100vh;
width:100%
}

/*//////////////////
//SECTION 1 : HOME//
//////////////////*/
.homeFlexContainer {
  flex-direction: column;
}
#logo img {
  /* height: 10vh; */
  /* margin: 3%;
  padding: 2%; */
  background-image: transparent;
  width: 100%;
}
nav {
  /* background-color: var(--dark-background); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  /* overflow:hidden; */
  /* background-color: var(--background_test41); */
}
nav>button {
  margin-right: 3% ;
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10vw;
  text-align: center;
}
#welcome h1 {
  padding: 5%;
}
#welcome p {
 margin: 3% 0 10% 0;
}
#welcome a {
  text-decoration: none;
  width: 60%;
}

/*////////////////////////////
//SECTION 2 : QUIZ SELECTOR //
////////////////////////////*/
.namePage {
  
}
.themeSelected {

}
.themeUnselected {

}
.nameFlexContainer {
  display: flex;
  flex-direction: column;
  /* background-color: var(--primary-background); */
  justify-content: center;
  text-align: center;
  font: var(--extra-bold);
  color: var(--info);
  line-height: 10vh;
  font-family: var(--font-family);
  background-color:var(--primary-background);
}
form {
  width : 80%;
  font-size: var(--XL);
  color: var(--text-primary);
  margin: auto; 
  font-family: var(--font-family);
}
label {
  font-size: var(--XL);
  font-weight: var(--extra-bold);
  color:var(--text-light)
}
#username {
  height: 5vh;
  width: 40%;
  border-radius: var(--radius-S);
}
.quizzTheme {
  width: 80%;
  text-align: center;
  height: 10vh;
  margin-bottom: 5vh;
  border-radius: var(--radius-M);
  background-size: cover;
  background-position: center;
  font-size: var(--L);
  color: var(--text-primary);
}
.selected {
  border: rgb(0, 247, 255) 10px solid;  /*REMPLACER PAR VAR*/
}



#nameButton {
  width: 70%;
  height: 6vh; 
  box-shadow: var(--level-2);
  margin: 4vh auto;
}
.quizzTheme:nth-child(1) {
  background-image: url("/assets/logoquizz1.png");
}
.quizzTheme:nth-child(2) {
  background-image: url("/assets/logoquizz2.png");
}
.quizzTheme:nth-child(3) {
  background-image: url("/assets/logoquizz3.png");
}

/*///////////////////
//SECTION 3 : QUIZ //
///////////////////*/
.quizFlexContainer {
  background-color: var(--primary-background);
}
.quizFlexContainer h1 {
  font-size: clamp(1.25rem, 3vw, 2rem);
  color: var(--text-light);
  text-align: center;
}
.questionTitle {
  height:10vh;
  margin:auto 2vh;
}
.questionTokens {
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  list-style:none;
  width:10vw;
  border: 1px solid black;
  background-color: var(---secondary-light);
}
.questionTokens li {
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin: auto;
  color: var(--text-light);
  background-color:var(--secondary-background);
}
li.activeToken {
  background-color: var(--secondary-background);
  color: var(--text-primary);
}
li.successToken {
  background-color: var(--success);
  color: var(--text-primary);
}
li.wrongToken {
  background-color: var(--error);
  color: var(--text-primary);
}
.testContainer {
  /* height: 75vh; */
  display:flex;
  flex-direction: column;
}
.quizFlexContainer .neonButton {
  height:10vh;
  margin:auto;
} 
.quizz {
  display: flex;
  width: 100%;
  flex-direction: column; 
  /* align-items: center; */
  justify-content: center;
}
.card {
  height: 88vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top:10%; */
}
.answer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin:auto;
  justify-content: space-between;
  align-items: center;
}
button.cardButton {
  height: 10vh;
  /* background-color: var(--primary-background); */
  box-shadow: var(--level-2);
  color:var(--cardglow-color);
  border-radius: var(--radius-M);
  width: 80%;
  margin: 1vh auto;
  /* background-color: var(--text-light); */
}
.cardButton {
  height: 20vh;
  margin: 1vh;
  border-radius: var(--radius-M);
  --cardglow-color: rgb(0, 247, 255);
  --cardglow-spread-color: var(--primary-background);
  --cardenhanced-glow-color: rgb(255, 255, 255);
  --cardbtn-color: var(--primary-background);
  border: .25em solid var(--cardglow-color);
  padding: 1em 3em;
  color: var(--cardglow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--cardbtn-color);
  border-radius: 1em;
  outline: none;
  /* box-shadow: 0 0 1em .25em var(--cardglow-color),
         0 0 4em 1em var(--cardglow-spread-color), 
         inset 0 0 .75em .25em var(--cardglow-color); */
  /* text-shadow: 0 0 .5em var(--cardglow-color); */
  position: relative;
  transition: all 0.3s;
 }
 .cardButton:hover {
  color: var(--cardbtn-color);
  background-color: var(--cardglow-color);
  box-shadow: 0 0 1em .25em var(--cardglow-color),
         0 0 4em 2em var(--cardglow-spread-color),
         inset 0 0 .75em .25em var(--cardglow-color);
 }

 #displayResults {
   display:none;
 }

/*///////////////////////
//SECTION 4 : RESULTS //
//////////////////////*/

.resultsPage{
  min-height:100vh;
}
.resultsPage{
  display: flex;
  flex-direction: column;
  background-color: var(--primary-background);
}
.resultsPage h1{
  text-align: center;
  margin-top:5vh;
}
.resultsPage p{
  text-align: center;
  color: var(--text-secondary)
}
.resultsFlexContainer{
  display: flex;
  flex-direction: column;
  /* height:90vh; */
}
.resultsPage a{

}
.resultsFlexContainer article{
  background-color: #673f92;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1vw 10vw;
  border-radius: 2% ;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.resultsFlexContainer article div {
  margin: 0.5rem;
}
.resultsFlexContainer article p {
  color: var(--text-primary);
  margin: 0.5rem;
}
.avatar {
  border-radius: 50%;
  height: 7vw;
  width: 7vw;
}
footer {
  background-color: var(--secondary-background);
}
#footer p {
  text-align:left;
  align-items: left;
  margin: auto auto auto 2%;
  color: beige;
} 

/*/////////////////////////////
//SECTION  : DESKTOP VERSION //
/////////////////////////////*/
@media screen and (min-width:769px) {
  #logo img {
    height: 15vh;
    /* width: 80vw; */
    margin:auto;
  }
  .questionTokens {
    display:flex;
    flex-direction:row;
    width:100vw;
    height:8vh;
  }  
  .quizFlexContainer {
    display: flex;
    flex-direction: column;
  }
  .answer-container {
    width: 90%;
    height:80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
  }
  .quizz {
    margin: auto;
  }
  .card {
    width: 100%;
    height: 75vh;
  }
  /* button.button-card {
    height: 25vh;
  } */
  button.cardButton {
    height: 25vh;
  }
  .resultsFlexContainer {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .resultsFlexContainer article {
    background-color: #673f92;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 20%;
  }
  article.firstUser{
    order: 2 ;
    padding-bottom: 10rem;
  }
  article.secondUser{
    order: 1 ;
    padding-bottom: 6rem;
  }
  article.thirdUser{
    order: 3 ;
    padding-bottom: rem ;
  }
  .avatar {
    margin-top: 2rem;
  }
  .selectQuizz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
  button.quizzTheme {
    height: 25vh;
    width: 80%;
    margin: 1%;
  }
  #logo img {
    /* height: 10vh; */
    /* margin: 3%;
    padding: 2%; */
    background-image: transparent;
    width: initial;
  }
}

